#cancel2 {
    width: 20vw;
    height: 6vh;
    border: 1px solid red;
    margin-right: 10px;
}

#refresh2 {
    width: 20vw;
    height: 6vh;
    border: 1px solid blue;
}

#submit2 {
    width: 100%;
    height: 6vh;
    font-weight: 600;
    margin-top: 10px;
}

.left-input2 {
    margin-bottom: 20px;
    background-color: transparent;
}

.right-input2 {
    margin-bottom: 20px;
    background-color: transparent;
}

@media screen and (max-width: 545px) {
    #cancel2 {
        width: 30vw;
        height: 6vh;
        border: 1px solid red;
        margin-right: 10px;
    }

    #refresh2 {
        width: 30vw;
        height: 6vh;
        border: 1px solid blue;
    }
}
